{{!-- <main>
    <h1>Hello</h1>

//esto es para subir una imagen desde el ordenador. Trabaja con Multer
    <form action="/file" method="POST" enctype="multipart/form-data">
        <input type="file" name="myFile">
        <button type="submit">Enviar</button>
    </form>
</main> --}}

<!-- views/products.handlebars -->

<div class="product-container">
  {{#each products}}
  <div class="product-card">
    <img src="{{this.thumbnail}}" alt="{{this.title}}" class="product-image">
    <div class="product-details">
      <h2 class="product-title">{{this.title}}</h2>
      <p class="product-description">{{this.description}}</p>
      <p class="product-price">Price: ${{this.price}}</p>
      <p class="product-code">Code: {{this.code}}</p>
      <p class="product-stock">Stock: {{this.stock}}</p>
      <p class="product-category">Category: {{this.category}}</p>
    </div>
  </div>
  {{/each}}
</div>