{{!-- Extiende la plantilla principal --}}
{{#extends 'main'}}

{{!-- Define el bloque del cuerpo --}}
{{#block 'body'}}
  <h1>Lista de Usuarios</h1>
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
        <th>Rol</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {{#each users}}
        <tr>
          <td>{{this.first_name}}</td>
          <td>{{this.last_name}}</td>
          <td>{{this.email}}</td>
          <td>{{this.role}}</td>
          <td>
            <form action="/api/users/{{this.email}}" method="post">
              <select name="role">
                <option value="USER" {{#ifCond this.role 'USER'}}selected{{/ifCond}}>User</option>
                <option value="PREMIUM" {{#ifCond this.role 'PREMIUM'}}selected{{/ifCond}}>Premium</option>
              </select>
              <button type="submit">Cambiar Rol</button>
            </form>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{/block}}
