<!-- views/partials/navbar.handlebars -->

<nav class="navbar">
  <div class="navbar-left">
    <a href="/"><img src="/image/logo.png" alt="Fennix Logo"></a>
    <span>Bienvenido a Fennix</span>
  </div>
  <div class="navbar-right">
    {{#if user}}
      <span>Bienvenido, {{user.first_name}}</span>
      <a href="/products">Productos</a>
      <a href="/profile">Perfil</a>
      <a href="/logout">Cerrar sesión</a>
    {{else}}
      <a href="/login">Iniciar sesión</a>
      <a href="/register">Registrarse</a>
    {{/if}}
    
  </div>
</nav> 

{{!-- <nav>
  <ul>
    {{#if user}}
      <li>Hola, {{user.name}}</li>
      <li><a href="/logout">Cerrar sesión</a></li>
      <li><a href="/cart">Carrito</a></li>
    {{else}}
      <li><a href="/login">Iniciar sesión</a></li>
      <li><a href="/register">Registrarse</a></li>
    {{/if}}
  </ul>
</nav>

{{!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="../../public/image/logo.png" alt="Fennix" width="30" height="30" class="d-inline-block align-top">
            Fennix
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                {{#if user}}
                    <li class="nav-item">
                        <a class="nav-link" href="/profile">Bienvenido, {{user.username}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cart">Carrito de Compras</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Cerrar Sesión</a>
                    </li>
                {{else}}
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Iniciar Sesión</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Registrarse</a>
                    </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav> --}}

